@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-center">أهلاً بكم في محلل اللغة العربية</h1>
    <h4 class="">إعداد الطالبين</h4>
    <h6 class="">أسامة الراشد - مهند كف الغزال</h6>
</div>
